{
    "presets": ["@babel/preset-typescript"],
    "plugins": [
        ["@babel/plugin-proposal-decorators", {
            "legacy": false,
            "decoratorsBeforeExport": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        ["@babel/plugin-proposal-optional-chaining"]
    ],
    "ignore": ["**/__tests__/*"],
    "sourceMaps": true
}
